<ul class="responsive-grid">
  <% movies.each do |movie| %>
    <li class="poster">
      <div class="poster-innards">
        <a
          class="poster-link aspect-poster js-movie-tile"
          href="<%= movie_path(movie) %>"
          data-3d="<%= movie.is_3d? %>"
          data-fanart-path="<%= fanart_video_path(movie) %>"
          data-title="<%= movie.title || 'Title Unknown' %>"
          data-year="<%= movie.year %>"
          data-quality="<%= movie.quality %>"
          data-overview="<%= movie.overview || movie.raw_file_path %>">
          <% if poster_url = movie.poster_url %>
            <img class="video-thumbnail has-aspect" src="<%= poster_url %>" alt="">
          <% else %>
            <%= render 'shared/no_poster_available' %>
          <% end %>

          <div class="thumbnails hide">
            <%= render 'movie_thumbnails', movie: movie %>
          </div>
          <div class="js-sources-info inline-sources hide"></div>
        </a>
      </div>
    </li>
  <% end %>
  <div class="clearfix"></div>
</ul>
