<ul class="responsive-grid">
  <% movies.each do |movie| %>
    <li class="poster aspect10x7">
      <div class="poster-innards" context="movieMeta<%= movie.id %>">
        <a
          class="poster-link aspect-poster js-movie-tile"
          define='{
            is3d: <%= movie.is_3d? %>,
            title: "<%= movie.title || 'Title unknown' %>",
            overview: "<%= movie.overview || movie.raw_file_path %>",
            year: "<%= movie.year %>",
            quality: "<%= movie.quality %>"
          }'
          href="<%= movie_path(movie) %>"
          data-refresh-key="movie<%= movie.id %>"
          data-fanart-path="<%= fanart_video_path(movie) %>">
          <% if poster_url = movie.poster_url %>
            <img class="video-thumbnail has-aspect" src="<%= poster_url %>" alt="">
          <% else %>
            <%= render 'shared/no_poster_available' %>
          <% end %>

          <div id="movie_thumbnails<%= movie.id %>" class="thumbnails hide" refresh="movie<%= movie.id %>">
            <%= render 'movie_thumbnails', movie: movie %>
          </div>
          <div class="js-sources-info inline-sources hide"></div>
        </a>
      </div>
    </li>
  <% end %>
  <div class="clearfix"></div>
</ul>
