<div id="results" refresh="results" class="tile-list" <% if @_is_paged %>define="{pager: new Muvee.Pager(this)}"<% end %>>

  <% if @prev_movie.present? %>
    <%= link_to paginator_path.call(page: @prev_page), class: 'pretty-pager top js-prev-page' do %>
      <span class="pretty-pager__text">&lsaquo; Previous</span>
      <div class="tile__background" style="background-image: url(<%= @prev_movie.fanarts.sample.try(:url) %>);"></div>
      <div class="pretty-pager__autoscroll-indicator" bind-attribute="{style: pager.prevProgressCssWidth()}"></div>
    <% end %>
  <% end %>

  <% empty = @movies.size == 0 %>

  <% while @movies.size > 0 %>
    <%= layout(@movies) %>
  <% end %>

  <% if empty && params[:query] %>
    <div class="index-notice">
      <h3>
        Nothing was found for <span class="note"><%= params[:query] %></span>.
      </h3>
      <%= link_to 'Search the net', movie_search_movies_path(q: params[:query]), "tg-remote" => "POST", "refresh-on-success" => "results", class: 'action-button' %>

    </div>
  <% end %>

  <% if @next_movie.present? %>
    <%= link_to paginator_path.call(page: @next_page), class: 'pretty-pager bottom js-next-page' do %>
      <span class="pretty-pager__text">Next &rsaquo;</span>
      <div class="tile__background" style="background-image: url(<%= @next_movie.fanarts.sample.try(:url) %>);"></div>
      <div class="pretty-pager__autoscroll-indicator" bind-attribute="{style: pager.nextProgressCssWidth()}"></div>
    <% end %>
  <% end %>
</div>
