<%
  empty = !@movies.present?
  was_empty_search = empty && params[:query].present?
  show_alpha_picker = local_assigns[:show_alpha_picker]
  if show_alpha_picker.nil?
    show_alpha_picker = @movies.size > 10
  end
%>
<div id="results" refresh="results" class="tile-list" <% if @_is_paged %>define="{pager: new Muvee.Pager(this)}"<% end %>>

  <% if show_alpha_picker %>
    <%= render 'shared/alpha_picker', paginator_path: paginator_path %>
  <% end %>

  <% if @prev_movie.present? %>
    <%= link_to paginator_path.call(page: @prev_page, query: params[:query], alpha: params[:alpha]), class: 'pretty-pager top js-prev-page' do %>
      <span class="pretty-pager__text">&lsaquo; Previous</span>
      <div class="tile__background" style="background-image: url(<%= @prev_movie.backdrop_images.sample.try(:url) %>);"></div>
      <div class="pretty-pager__autoscroll-indicator" bind-attribute="{style: pager.prevProgressCssWidth()}"></div>
    <% end %>
  <% end %>

  <% prng = Random.new(Time.new.floor(16.minutes).to_i + (params[:page].to_i || 0)) %>

  <% while @movies.size > 0 %>
    <%= layout(@movies, prng) %>
  <% end %>

  <% if was_empty_search %>
    <div class="index-notice">
      <h3>
        Unfortunately, <%= app_name %> doesn't know about <span class="note"><%= params[:query] %></span>.
      </h3>
      <%= link_to "Search the net for #{params[:query]}", perform_remote_search_movies_path(query: params[:query]),
        class: 'sst action-button',
        data: {
          tg_remote: 'POST',
          refresh_on_success: 'results'
        }
      %>

    </div>
  <% elsif empty %>
    <div class="index-notice">
      <h3>Nothing here.</h3>
    </div>
  <% end %>

  <% if @next_movie.present? %>
    <%= link_to paginator_path.call(page: @next_page, query: params[:query], alpha: params[:alpha]), class: 'pretty-pager bottom js-next-page' do %>
      <span class="pretty-pager__text">Next &rsaquo;</span>
      <div class="tile__background" style="background-image: url(<%= @next_movie.backdrop_images.sample.try(:url) %>);"></div>
      <div class="pretty-pager__autoscroll-indicator" bind-attribute="{style: pager.nextProgressCssWidth()}"></div>
    <% end %>
  <% end %>
</div>
