<div class="tile" context="tile<%= movie.id %>">
  <div class="tile__meta">
    <h3 class="video-year"><%= movie.year %></h3>
    <h3 class="video-type">Movie</h3>
    <% if movie.downloading? %>
      <h3 class='video-status'>Downloading Now</h3>
    <% elsif movie.remote? %>
      <h3 class='video-status'>Remote</h3>
    <% end %>
    <h1 class="video-title"><%= link_to movie.title, movie_path(movie) %></h1>
    <p class="video-description">
      <%= movie.overview %>
    </p>
    <%= render 'genre_badge_listing', genres: movie.genres.sample(3) %>
    <% if movie.downloading? %>
      <div
        class="torrent-progress progress-bar__container"
        define="{torrent: new Muvee.ProgressReporter(this, 'TorrentInformation<%= movie.torrents.first.id %>')}">
        <div class="progress-bar__bar animates" bind-attribute="{style: torrent.progressCssWidth()}"></div>
      </div>
    <% end %>
    <%#= render 'shared/star_rating', rating: movie.vote_average || 0, rating_max: 10.0, new_scale: 5 %>
    <div class="tile__meta-backdrop"></div>
  </div>
  <div class="tile__background" style="background-image: url(<%= movie.fanarts.sample.try(:url) %>);"></div>
</div>
