<div class="tile">
  <div class="tile__meta">
    <h3 class="video-year"><%= movie.year %></h3>
    <h3 class="video-type">Movie</h3>
    <h1 class="video-title"><%= link_to movie.title, movie_path(movie) %></h1>
    <p class="video-description">
      <%= movie.overview %>
    </p>
    <div class="video-genres">
      <% movie.genres.each do |genre| %>
      <%= link_to(genre.name, by_genre_movies_path(genre.name.parameterize), class: "genre-badge") %>
      <% end %>
    </div>
    <%#= render 'shared/star_rating', rating: movie.metadata[:imdbRating] || 0, rating_max: 10, new_scale: 5 %>
  </div>
  <div class="tile__background" style="background-image: url(<%= movie.fanarts.sample.try(:url) %>);"></div>
</div>
