<%= render 'subnav' %>

<div id="remote_movies">
  <% if @movies.present? %>
    <%= render 'movie_meta', movies: @movies %>
    <div class="movies-index panel" class="clearfix">
      <%= render 'movies_list', movies: @movies %>
    </div>
    <div class="movie-actions">
      <%= render 'remote_actions' %>
    </div>
  <% else %>
    <div class="movie-actions full">
      <%= render 'remote_actions' %>
    </div>
  <% end %>
</div>
