<%= render 'subnav' %>
<div class="inline-movie-preview" define="{backgroundArtSlideshow: new Muvee.AutoSlideshow(this).transition().start()}">
  <div class="js-slideshow featured-image">
    <% @movie.fanarts.shuffle.each do |art| %>
      <div class="js-slide movie-background hidden" data-background-url="<%= art.url %>"></div>
    <% end %>
  </div>
</div>

<div id="movie_show">

  <div class="movie-information">
    <div class="movie-information-meta">

      <img class="movie-poster" src="<%= @movie.poster_url %>">

      <h3 class="video-type">Movie</h3>
      <% if @movie.downloading? %>
        <h3 class='video-status'>Downloading Now</h3>
      <% end %>
      <h1 class="movie-title">
        <span class="title"><%= @movie.title %></span>
        <span class="three-d <% unless @movie.is_3d? %>hide<% end %>">3D</span>
      </h1>

      <h3 class="year">
        <i class="fa fa-calendar"></i>
        <%= @movie.year %>

        <i class="fa fa-clock-o"></i>
        <%= runtime_human(@movie.duration, @movie.runtime_minutes) %>
      </h3>

      <% if @movie.sources.size > 0 %>
        <% @movie.sources.each do |source| %>
          <span class="badge quality-<%= source.quality %>"><%= source.quality %></span>
        <% end %>
      <% end %>
      <%= render 'genre_badge_listing', genres: @movie.genres %>

      <p class="movie-rating">
        <%= render 'shared/star_rating', rating: @movie.vote_average || 0, rating_max: 10.0, new_scale: 5 %>
        <% if @movie.vote_count.present? %>
          from <%= @movie.vote_count %> votes
        <% end %>
      </p>
      <p>
        <%= @movie.overview %>
      </p>

      <p>
        <%= link_to imdb_link(@movie.imdb_id), target: :_blank do %>
          <%= render 'shared/imdb_logo' %>
        <% end %>
        <%= render 'shared/tmdb_logo' %>
      </p>
    </div>


    <div class="movie-actions">
      <div class="movie-actions-contents">
        <% if @movie.local? %>
          <%= render 'thumbnail_play', movie: @movie %>
        <% end %>
        <div class="inline-buttons">
          <% if @movie.local? %>
            <%= link_to "Re-analyze", reanalyze_movie_path(@movie), class: 'action-button', "tg-remote" => "POST" %>
          <% else %>
            <%= render 'delete_movie_button', movie: @movie %>
          <% end %>

          <% if @movie.local? %>
            <%= form_for @movie, url: override_imdb_id_movie_path(@movie), html: {'tg-remote' => true, class: 'inline-form'} do |f| %>
              <div class="action-button-group">
                <%= f.text_field :imdb_id, class: 'action-button' %><%= f.submit "Override IMDB ID", class: 'action-button' %>
              </div>
            <% end %>
          <% end %>
        </div>

        <% if @movie.downloading? %>
          <% if @movie.torrents.count > 0 %>
            There's <%= pluralize(@movie.torrents.size, 'torrent') %> associated with this movie.
          <% else %>
            There are no torrents associated with this movie.
          <% end %>
        <% end %>

        <% @movie.sources.each do |source| %>
          <div><%= source.raw_file_path %></div>
        <% end %>

        <% if @movie.sources.size > 0 %>
          <h2>Re-download this movie</h2>
        <% else %>
          <h2>Download this movie</h2>
        <% end %>
        <div id="yts-sources" refresh="yts-sources">
          <%= link_to "Search YTS", find_sources_via_yts_movie_path(@movie, q: @movie.title), "tg-remote" => "GET", "refresh-on-success" => "yts-sources", class: "yts-logo tracker-logo" %>
        </div>
        <div id="tbp-sources" refresh="tbp-sources">
          <%= link_to "Search the Pirate Bay", find_sources_via_pirate_bay_movie_path(@movie, q: @movie.title), "tg-remote" => "GET", "refresh-on-success" => "tbp-sources", class: "tbp-logo tracker-logo" %>
        </div>
      </div>
    </div>

    <% if @movie.downloading? %>
      <div
        class="torrent-progress progress-bar__container"
        define="{torrent: new Muvee.ProgressReporter(this, 'TorrentInformation<%= @movie.torrents.first.id %>')}">
        <div class="progress-bar__bar animates" bind-attribute="{style: torrent.progressCssWidth()}"></div>
      </div>
    <% end %>

  </div>
</div>
