<%= render 'subnav' %>
<div class="inline-movie-preview">
  <div class="featured-image js-auto-slideshow">
    <% @movie.fanarts.shuffle.each do |art| %>
      <div class="movie-background hidden" data-background-url="<%= art.url %>"></div>
    <% end %>
  </div>
</div>

<div id="movie_show">

  <div class="movie-information">
    <div class="movie-information-meta">
      <h1 class="movie-title">
        <span class="title"><%= @movie.title %></span>
        <span class="three-d <% unless @movie.is_3d? %>hide<% end %>">3D</span>
        <span class="movie-quality"><%= @movie.quality %></span>
      </h1>
      <span class="movie-genre">
        <% @movie.genres.each_with_index do |genre, i| %>
          <%= link_to genre.name, by_genre_movies_path(genre.name.parameterize) %><% if i < @movie.genres.length - 1 %>, <% end %>
        <% end %>
      </span>
      &ndash;
      <span class="movie-duration"><%= @movie.runtime_minutes %> minutes</span>
      &ndash;
      <span class="movie-year"><%= @movie.year %></span>
      <p class="movie-rating">
        <%= render 'shared/star_rating', rating: @movie.vote_average || 0, rating_max: 10.0, new_scale: 5 %>
        <% if @movie.vote_count.present? %>
          from <%= @movie.vote_count %> votes
        <% end %>
      </p>
      <p>
        <%= @movie.overview %>
      </p>
      <p>
        <%= link_to "View on IMDB", imdb_link(@movie.imdb_id), target: :_blank %>
      </p>
    </div>


    <div class="movie-actions">
      <div class="movie-actions-contents">
        <% if @movie.local? %>
          <a
            class="js-get-thumbnails js-has-thumbnails video <% if @movie.has_set_of_thumbnails? %>has-thumbnails<% end %>"
            data-thumbnail-path="<%= thumbnails_video_path(@movie) %>"
            href="<%= video_path(@movie) %>" class="video-link">
            <div class="clearfix video-tile">
              <div class="thumbnail-area">
                <div class="thumbnails">
                  <% @movie.thumbnails.each_with_index do |thumb, i| %>
                    <img class="video-thumbnail <% if i>0 %>hidden<% end %>" src="<%= thumb.url %>" alt="">
                  <% end %>
                </div>
                <div class="play-icon">
                  <i class="fa fa-play-circle"></i>
                </div>
                <div class="duration">
                  <%= human_duration(@movie.duration) %>
                </div>
                <% if @movie.left_off_at_percent > 0 %>
                  <div class="watch-progress">
                    <span class="watched-bar" title="<%= @movie.left_off_at %> seconds of <%= @movie.duration %> total seconds" style="width: <%= @movie.left_off_at_percent %>%"></span>
                  </div>
                <% end %>
              </div>
            </div>
          </a>
          <div class="inline-buttons" define="{showInfo: false}">
            <% if @movie.left_off_at_percent > 5 %>
              <%= link_to "Resume", video_path(@movie), class: 'action-button' %>
              <%= link_to "Play from the start", video_path(@movie, t: 0), class: 'action-button' %>
            <% else %>
              <%= link_to "Play", video_path(@movie, t: 0), class: 'action-button' %>
            <% end %>
            <%= link_to "Re-analyze", reanalyze_movie_path(@movie), class: 'action-button', "tg-remote" => "POST" %>

            <% unless @movie.remote? %>
              <div class="action-button" bind-event-click="showInfo = !showInfo">
                Show filename
              </div>

              <div class="action-button" data-modal="destroy-movie">Delete</div>

              <div id="destroy-movie" class="modal">
                <div class="modal-backdrop js-close-modal"></div>
                <div class="modal-box">
                  <div class="modal-box-contents">
                    <div class="modal-header">
                      Are you sure you want to delete this movie?
                    </div>
                    <div class="divider">
                      <%= button_to 'Yes', movie_path(@movie), method: 'delete' %>
                    </div>
                    <div class="divider">
                      <button class="js-close-modal">
                        Nope
                      </button>
                    </div>
                  </div>
                </div>
              </div>


              <div class="hide" bind-show="showInfo">
                <p>
                  <%= @movie.raw_file_path %>
                </p>
              </div>

              <%= form_for @movie, url: override_imdb_id_movie_path(@movie), html: {'tg-remote' => true} do |f| %>
                <%= f.text_field :imdb_id %>
                <%= f.submit "Override IMDB ID" %>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <h2>Download this movie</h2>
          <% if @existing_copies.length > 0 %>
            <p>
              You already have this movie in:
            </p>
            <ul>
              <% @existing_copies.each do |copy| %>
                <li>
                  <%= link_to movie_path(copy) do %>
                    <% if copy.is_3d? %>3D<% end %> <%= copy.quality %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
          <div id="yts-sources" refresh="yts-sources">
            <%= link_to "Search YTS", find_sources_via_yts_movie_path(@movie, q: @movie.title), "tg-remote" => "GET", "refresh-on-success" => "yts-sources", class: "yts-logo tracker-logo" %>
          </div>
          <div id="tbp-sources" refresh="tbp-sources">
            <%= link_to "Search the Pirate Bay", find_sources_via_pirate_bay_movie_path(@movie, q: @movie.title), "tg-remote" => "GET", "refresh-on-success" => "tbp-sources", class: "tbp-logo tracker-logo" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
