<%= render 'subnav' %>

<div id="movie_show">

  <div class="inline-movie-preview">
    <div class="movie-images">
      <div class="featured-image">
        <%= render 'movie_thumbnails', movie: @movie %>
      </div>
    </div>
  </div>

  <div class="movie-information">
    <div class="movie-information-meta">
      <h1 class="movie-title">
        <span class="title"><%= @movie.title %></span>
        <span class="three-d <% unless @movie.is_3d? %>hide<% end %>">3D</span>
        <span class="movie-quality"><%= @movie.quality %></span>
      </h1>
      <span class="movie-genre">
        <% @movie.genres.each_with_index do |genre, i| %>
          <%= link_to genre.name, by_genre_movies_path(genre.name.parameterize) %><% if i < @movie.genres.length - 1 %>, <% end %>
        <% end %>
      </span>
      &ndash;
      <span class="movie-duration"><%= @movie.metadata[:Runtime] %></span>
      &ndash;
      <span class="movie-year"><%= @movie.year %></span>
      &ndash;
      <span class="movie-parental-rating">Rated <%= @movie.metadata[:Rated] || "Unknown" %></span>
      <p class="movie-rating">
        <%= render 'shared/star_rating', rating: @movie.metadata[:imdbRating] || 0, rating_max: 10, new_scale: 5 %>
        <% if @movie.metadata[:imdbVotes] %>
          from <%= @movie.metadata[:imdbVotes] %> votes
        <% end %>
      </p>
      <p>
        <%= @movie.overview %>
      </p>
      <p>
        Starring: <%= @movie.metadata[:Actors] %>
      </p>
      <p>
        <%= link_to "View on IMDB", imdb_link(@movie.fetch_imdb_id), target: :_blank %>
      </p>
    </div>


    <div class="movie-actions">
      <% if @movie.local? %>
        <a
          class="js-get-thumbnails js-has-thumbnails video <% if @movie.has_set_of_thumbnails? %>has-thumbnails<% end %>"
          data-thumbnail-path="<%= thumbnails_video_path(@movie) %>"
          href="<%= video_path(@movie) %>" class="video-link">
          <div class="clearfix video-tile">
            <div class="thumbnail-area">
              <div class="thumbnails">
                <% @movie.thumbnails.each_with_index do |thumb, i| %>
                  <img class="video-thumbnail <% if i>0 %>hidden<% end %>" src="<%= thumb.url %>" alt="">
                <% end %>
              </div>
              <div class="play-icon">
                <i class="fa fa-play-circle"></i>
              </div>
              <div class="duration">
                <%= human_duration(@movie.duration) %>
              </div>
              <% if @movie.left_off_at_percent > 0 %>
                <div class="watch-progress">
                  <span class="watched-bar" title="<%= @movie.left_off_at %> seconds of <%= @movie.duration %> total seconds" style="width: <%= @movie.left_off_at_percent %>%"></span>
                </div>
              <% end %>
            </div>
          </div>
        </a>
        <div class="inline-buttons">
          <% if @movie.left_off_at_percent > 5 %>
            <%= link_to "Resume", video_path(@movie), class: 'action-button' %>
            <%= link_to "Play from the start", video_path(@movie, t: 0), class: 'action-button' %>
          <% else %>
            <%= link_to "Play", video_path(@movie, t: 0), class: 'action-button' %>
          <% end %>
        </div>
      <% else %>
        <h2>Download this movie</h2>
        <% if @existing_copies.length > 0 %>
          <p>
            You already have this movie in:
          </p>
          <ul>
            <% @existing_copies.each do |copy| %>
              <li>
                <%= link_to movie_path(copy) do %>
                  <% if copy.is_3d? %>3D<% end %> <%= copy.quality %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <%= render 'source_options', sources: @sources %>
      <% end %>
    </div>
  </div>

</div>
