<%= render 'subnav' %>

<div class="showpage-container" id="movie-show" refresh='movie-show'>

  <div class="showpage-header">
    <%= render 'shared/showpage_slideshow', urls: @movie.fanarts.present? ? @movie.fanarts.shuffle.map(&:url) : [] %>

    <div class="showpage-header__overlay">
      <div class="showpage-header__overlay__top-scrim">
        <%= render 'shared/genre_badge_listing', genres: @movie.genres, paginator_path: self.method(:by_genre_movies_path) %>
        <div class="fr">

          <%= link_to @movie.is_favorite ? unfavorite_movie_path(@movie) : favorite_movie_path(@movie),
                id: 'fav-button',
                refresh: 'fav-button',
                class: 'badge linked-badge',
                'tg-remote' => 'POST',
                'refresh-on-success' => 'fav-button' do %>

            <i class="fa <% if @movie.is_favorite %>fa-heart<% else %>fa-heart-o<% end %>"></i>
          <% end %>

          <%= link_to reanalyze_movie_path(@movie),
                class: 'badge linked-badge',
                'tg-remote' => 'POST',
                'refresh-on-success' => 'movie-show' do %>

            <i class="fa fa-refresh"></i>
          <% end %>

          <% if @movie.remote? %>
            <%= render 'delete_movie_button', movie: @movie %>
          <% end %>
        </div>
      </div>

      <% if @movie.local? %>
        <div class="play-icon">
          <% @movie.sources.each do |source| %>
            <%= link_to show_source_video_path(@movie, source), class: 'play-icon-link' do %>
              <i class="fa fa-play-circle"></i>
              <div class="source-quality">
                <%= source.quality %>
                <% if source.is_3d? %>
                  <span class="3d">3D</span>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="showpage-header__overlay__bottom-scrim flex flex-down">
        <% if @movie.left_off_at_percent > 0 %>
          <div class="watch-progress progress-bar__container">
            <span class="progress-bar__bar" title="<%= @movie.left_off_at %> seconds of <%= @movie.duration %> total seconds" style="width: <%= @movie.left_off_at_percent %>%"></span>
          </div>
        <% elsif @movie.downloading? %>
          <div
            class="torrent-progress progress-bar__container"
            define="{torrent: new Muvee.ProgressReporter(this, 'TorrentInformation<%= @movie.torrents.first.id %>')}">
            <div class="progress-bar__bar animates" bind-attribute="{style: torrent.progressCssWidth()}"></div>
          </div>
        <% elsif @movie.transcoding? %>
          <div class="torrent-progress progress-bar__container indeterminate" title="Transcoding now..."></div>
        <% end %>

        <div class="flex">
          <div class="showpage__section flex">
            <img class="showpage__poster" src="<%= @movie.poster_url %>">
            <div class="showpage__meta">
              <h1><%= @movie.title %> <span class="three-d <% unless @movie.is_3d? %>hide<% end %>">3D</span></h1>
              <% if @movie.tagline.present? %>
                <h2><%= @movie.tagline %></h2>
              <% end %>
              <p class="st">
                <%= @movie.overview %>
              </p>
              <div class="flex-columns sst">
                <div class="parental-guidance-rating">
                  <%= @movie.parental_guidance_rating || "N/A" %>
                </div>
                <div>
                  <% if @movie.released_on || @movie.year %>
                    <i class="subdued fa fa-calendar"></i>
                    <%= released_on_human(@movie.released_on) || @movie.year %>
                  <% end %>
                </div>
                <div>
                  <i class="subdued fa fa-clock-o"></i>
                  <%= runtime_human(@movie.duration, @movie.runtime_minutes) %>
                </div>
                <div>
                  <%= render 'shared/star_rating', vote_count: @movie.vote_count, rating: @movie.vote_average || 0, rating_max: 10.0, new_scale: 5 %>
                  <% if @movie.vote_count.present? %>
                    from <%= number_with_delimiter(@movie.vote_count) %> votes
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <% if @movie.youtube_trailers.present? %>
    <div class="flex">
      <div class="showpage__section">
        <h2>Trailers</h2>
        <div class="trailers" define="{activeTrailer: null, activeTrailerSrc: null}">
          <div class="flex-columns flex-wrap">
            <% @movie.youtube_trailers.each_with_index do |trailer, index| %>
              <% key = trailer[:key] %>
              <button
                class="trailer-thumbnail"
                bind-event-click="activeTrailer = <%= key.to_json %>, activeTrailerSrc = <%= "http://www.youtube.com/embed/#{key}?autoplay=0&html5=1".to_json %>"
                bind-class="{active: (activeTrailer == <%= key.to_json %>)}">
                <div class="content">
                  <img src="http://img.youtube.com/vi/<%= trailer[:key] %>/0.jpg" alt="">
                </div>
              </button>
            <% end %>
          </div>
          <div class="trailer hide" bind-show="activeTrailerSrc != null">
            <div class="content">
              <iframe
                style="width: 100%; height: 100%;"
                type="text/html"
                bind-src="activeTrailerSrc || ''"
                frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= render 'shared/showpage_actors', actors: @movie.actors, paginator_path: self.method(:by_actor_movies_path) %>

  <div class="flex">
    <div class="showpage__section">

      <% if @movie.local? %>
        <%= link_to imdb_link(@movie.imdb_id), class: 'imdb-icon-link flex-columns', target: :_blank do %>
          <%= render 'shared/imdb_logo' %>
        <% end %>
        <%= form_for @movie, url: override_imdb_id_movie_path(@movie), html: {'tg-remote' => true, class: 'inline-form'} do |f| %>
          <div class="action-button-group">
            <%= f.text_field :imdb_id, class: 'action-button' %><%= f.submit "Override IMDB ID", class: 'action-button' %>
          </div>
        <% end %>
      <% end %>

      <% if @movie.sources.size > 0 %>
        <h2>Download more sources</h2>
      <% else %>
        <h2>Download this movie</h2>
      <% end %>

      <% if @movie.downloading? %>
        <% if @movie.torrents.count > 0 %>
          <p>Download in progress. There's <%= pluralize(@movie.torrents.size, 'torrent') %> associated with this movie.</p>
        <% else %>
          <p>Finalizing download.</p>
        <% end %>
      <% end %>



      <div id="torrent-sources" refresh='torrent-sources'>
        <%= link_to 'Find sources', find_sources_movie_path(@movie, query: @movie.title),
              class: 'action-button',
              'tg-remote' => 'GET',
              'refresh-on-success' => 'torrent-sources' %>
      </div>
    </div>
  </div>
</div>
