<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :raw_file_path %><br>
    <%= f.text_field :raw_file_path %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :episode %><br>
    <%= f.number_field :episode %>
  </div>
  <div class="field">
    <%= f.label :season %><br>
    <%= f.number_field :season %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :left_off_at %><br>
    <%= f.number_field :left_off_at %>
  </div>
  <div class="field">
    <%= f.label :series_id %><br>
    <%= f.number_field :series_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
