<div class="video-watch-meta hidden" bind-class="{'hidden': player.playing()}">
  <div class="meta-options">
    <a class="home action-button" href="/">
      <i class="fa fa-home"></i> Bring me back home
    </a>
  </div>
  <div class="title-information">

    <p>You're watching...</p>
    <h1 class="title">
      <% if video.is_tv? && video.series_id.present? %>
        <%= link_to video.title, series_path(video.series) %>
      <% else %>
        <%= video.title %>
      <% end %>

      <% if video.season && video.episode %>
        <em class="season-and-episode"><%= video.season_episode %></em>
      <% end %>
    </h1>
    <h3 class="episode-title">
      <%= video.episode_name.presence %>
    </h3>
    <% if video.overview.present? %>
      <div class="description">
        <p>
          <%= truncate(video.overview, length: 255, separator: ' ') %>
        </p>
      </div>
    <% end %>
  </div>
  <%= render 'video_meta_options', next_episode: @next_episode, previous_episode: @previous_episode %>
</div>
