<% section = 'all-videos' %>
<div id="all-videos" class="clearfix with-header">
  <div class="panel">
    <% if @videos.length %>
      <ul class="responsive-grid">
        <% @videos.each do |video| %>
          <li class="poster">
            <div class="poster-innards">
              <% if (video.thumbnails.present?) %>
                <a href="/videos/<%= video.id %>/watch" class="poster-link aspect16x8">
                  <img src="<%= video.thumbnails.first.url %>" class="video-thumbnail">
                </a>
              <% end %>
              <span class="title">
                <%= video.title.presence || video.raw_file_path %>
              </span>
              <% if video.season && video.episode %>
                <span class="season">
                  S<%= video.season %>E<%= video.episode %>
                </span>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div>No videos found.</div>
    <% end %>
  </div>
</div>
