<div id="watch">
  <%= render 'video_controls' %>
  <%= render 'video_watch_meta', video: @video, next_episode: @next_episode, previous_episode: @previous_episode %>
  <% if @video.is_tv? %>
    <%= render 'video_upnext', next_episode: @next_episode, previous_episode: @previous_episode %>
  <% end %>
  <div class="video-back-button">
    <button onclick="window.history.back()">
      <i class="fa fa-arrow-circle-left"></i>
    </button>
  </div>
  <div class="video-container">
    <video src="<%= stream_video_path(@video) %>"
      id="video"
      class="video-<%= @video.id %>"
      data-resume-from="<%= @video.left_off_at %>"
      data-left-off-at-path="<%= left_off_at_video_path(@video) %>"
      autoplay>
    </video>
  </div>
</div>
