<div id="watch">
  <div class="meta">
    <div class="title-information">
      <h1 class="title">
        <% if @video.is_tv? && @video.series_id.present? %>
          <%= link_to @video.title, series_path(@video.series) %>
        <% else %>
          <%= @video.title %>
        <% end %>
      </h1>
      <h3>
        <%= @video.episode_name.presence %>
        <% if @video.season && @video.episode %>
          <em class="smaller">S<%= @video.season %>E<%= @video.episode %></em>
        <% end %>
      </h3>
    </div>
    <div class="description">
      <p>
        <%= @video.overview.presence %>
      </p>
    </div>
  </div>
  <div class="video-container">
    <video src="<%= stream_video_path(@video) %>" id="<%= @video.id %>" data-resume-from="video.left_off_at" autoplay controls>
    </video>
  </div>
</div>
