<div id="watch">
  <div class="meta">
    <div class="title-information">
      <h1 class="title">
        <% if @video.is_tv? %>
          <%= link_to @video.title, series_path(@video.series) %>
        <% else %>
          <%= @video.title %>
        <% end %>
      </h1>
      <h3>
        <%= @video.metadata[:EpisodeName].presence %>
        <% if @video.season && @video.episode %>
          <em class="smaller">S<%= @video.season %>E<%= @video.episode %></em>
        <% end %>
      </h3>
    </div>
    <div class="description">
      <p>
        <%= @video.metadata[:Overview].presence %>
      </p>
    </div>
  </div>
  <div class="video-container">
    <video id="<%= @video.id %>" needs-src="/videos/stream/<%= @video.id %>" data-resume-from="video.left_off_at" autoplay controls></video>
  </div>
</div>
