<div id="eztv-sources" refresh="eztv-sources">
  <% if sources.present? %>
    <% sources.each do |source| %>
      <div class="torrent-source">
        <table>
          <tr>
            <td>Title</td>
            <td class="italic ralign"><%= source[:title] %></td>
          </tr>
        </table>
        <% if torrent = Torrent.find_by(source: source[:magnet_link]) %>
          <div class="torrent-progress-meter" data-torrent-progress-url="<%= status_torrent_path(torrent) %>">
            <div class="torrent-progress"></div>
            <span class="downloading">Downloading...</span>
          </div>
        <% else %>
          <%= form_tag download_path, method: "post", html: {'tg-remote' => true} do %>
            <%= hidden_field_tag :download_url, source[:magnet_link] %>
            <%= button_tag "Download", type: "submit", class: 'action-button' %>
            <a class="action-button" href="<%= source[:magnet_link] %>">Magnet Link</a>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>We searched EZTV for <em><%= @query %></em>, but it looks like no sources are available at this time :(</p>
  <% end %>
</div>
