<div id="tbp-sources" refresh="tbp-sources">
  <% if sources.present? %>
    <table>
      <thead>
        <tr>
          <td>Title</td>
          <td>Ratio</td>
          <td>Seeds</td>
          <td>Peers</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% sources.each do |source| %>
          <% torrent = Torrent.find_by(source: source[:magnet_link]) %>
          <tr>
            <td class="long" title="<%= source[:title] %>"><%= source[:title] %></td>
            <td>
              <% if source[:leechers].to_f > 0 %>
                <%= (source[:seeders].to_f / source[:leechers].to_f).round(2) %>
              <% else %>
                -
              <% end %>
            </td>
            <td><%= source[:seeders] %></td>
            <td><%= source[:leechers] %></td>
            <td class="button-sized">
              <% unless torrent.present? %>
                <%= form_tag download_path, method: "post" do %>
                  <%= hidden_field_tag :download_url, source[:magnet_link] %>
                  <%= button_tag type: "submit", class: 'action-button' do %>
                    <i class="fa fa-download"></i>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>We searched the Pirate Bay for <em><%= @query %></em>, but it looks like no sources are available at this time :(</p>
  <% end %>
  <div class="clearfix"></div>
</div>
