<% good_seed_count_threshold ||= 50 %>
<% good_ratio_threshold ||= 0.5 %>

<table class="torrent-sources-table">
  <thead>
    <tr>
      <td></td>
      <td>Source</td>
      <td width='50%'>Title</td>
      <td>Seeders</td>
      <td>Leechers</td>
      <td>Ratio</td>
      <td width="100px"></td>
    </tr>
  </thead>
  <% sources.each do |source| %>

  <%
    seed_class = if source[:seeders] && source[:seeders] > good_seed_count_threshold then "success" elsif source[:seeders] == 0 then "error" else "notice" end
    ratio_class = if source[:ratio] && source[:ratio] > good_ratio_threshold then 'success' elsif source[:ratio] == 0 then 'error' else 'notice' end
  %>
  <tr>
    <td>
      <% if source[:verified] %>
        <i class="fa fa-check-circle <%= seed_class %>" title="Verified"></i>
      <% else %>
        <i class="fa fa-question-circle <%= seed_class %>" title="Unverified"></i>
      <% end %>
    </td>
    <td><%= source[:source] %></td>
    <td><%= source[:title] %></td>
    <td><span class="<%= seed_class %>"><%= source[:seeders] || '-' %></span></td>
    <td><%= source[:leechers] || '-' %></td>
    <td>
      <span class="<%= ratio_class %>">
        <% if source[:ratio].present? %>
          <% if source[:ratio].nan? %>
            -
          <% elsif source[:ratio].infinite? %>
            ∞
          <% else %>
            <%= number_with_precision(source[:ratio], precision: 2) %>
          <% end %>
        <% else %>
          -
        <% end %>
      </span>
    </td>
    <td>
      <%= link_to download_series_path(video.series, video, download_url: source[:magnet_link]),
      class: 'action-button flex-fixed',
        'tg-remote' => "post",
        'refresh-on-success' => "video-#{video.id}" do %>
        <i class="fa fa-download"></i>
        <% end %>
        <a class="flex-fixed action-button" href="<%= source[:magnet_link] %>">
          <i class="fa fa-magnet"></i>
        </a>
      </td>
    </tr>
    <% end %>
  </table>
