<% good_seed_count_threshold ||= 200 %>
<% good_ratio_threshold ||= 0.5 %>

<table class="series-sources-table">
  <thead>
    <tr>
      <td></td>
      <td width='50%'>Title</td>
      <td>Seeds</td>
      <td>Peers</td>
      <td>Ratio</td>
      <td width="100px"></td>
    </tr>
  </thead>
  <% sources.each do |source| %>
  <tr>
    <td>
      <% if source[:verified] %>
        <i class="fa fa-check-circle <% if source[:seeds] > good_seed_count_threshold %>success<% elsif source[:seeds] == 0 %>error<% else %>notice<% end %>" title="Verified"></i>
      <% else %>
        <i class="fa fa-question-circle notice" title="Unverified"></i>
      <% end %>
    </td>
    <td><%= source[:title] %></td>
    <td>
      <% if source[:seeds].present? %>
        <span class="<% if source[:seeds] > good_seed_count_threshold %>success<% elsif source[:seeds] == 0 %>error<% else %>notice<% end %>">
          <%= source[:seeds] %>
        </span>
      <% end %>
    </td>
    <td>
      <% if source[:peers].present? %>
        <%= source[:peers] %>
      <% end %>
    </td>
    <td>
      <% if source[:ratio].present? %>
        <span class="<% if source[:ratio] > good_ratio_threshold %>success<% elsif source[:ratio] == 0 %>error<% else %>notice<% end %>">
          <% if source[:ratio].nan? %>
            -
          <% elsif source[:ratio].infinite? %>
            ∞
          <% else %>
            <%= number_with_precision(source[:ratio], precision: 2) %>
          <% end %>
        </span>
      <% end %>
    </td>
    <td>
      <%= link_to download_series_path(video.series, video, download_url: source[:magnet_link]),
      class: 'action-button flex-fixed',
        'tg-remote' => "post",
        'refresh-on-success' => "video-#{video.id}" do %>
        <i class="fa fa-download"></i>
        <% end %>
        <a class="flex-fixed action-button" href="<%= source[:magnet_link] %>">
          <i class="fa fa-magnet"></i>
        </a>
      </td>
    </tr>
    <% end %>
  </table>
