<% good_seed_count_threshold ||= 50 %>
<% good_ratio_threshold ||= 0.5 %>

<%= form_tag find_more_path.call(*find_more_path_args),
  'tg-remote' => 'true',
  method: 'GET',
  'refresh-on-success' => 'torrent-sources-table' do %>
  <div class="action-button-group flex">
    <%= text_field_tag :query, params[:query], class: 'action-button' %><%= button_tag type: "submit", class: 'action-button' do %>
    <i class="fa fa-search"></i> Search
    <% end %>
  </div>
<% end %>

<% if sources.present? %>
  <table id='torrent-sources-table' class="torrent-sources-table" refresh='torrent-sources-table'>
    <thead>
      <tr>
        <td></td>
        <td></td>
        <td>Size</td>
        <td width='50%'>Title</td>
        <td class='ralign'>S</td>
        <td class='ralign'>L</td>
        <td class='ralign'>R</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
    <% sources.each do |source| %>
      <tr class="<%= 'dead' if source.dead? %>">
        <td>
          <div class="tracker-logo">
            <% if source.source == :kickass %>
              <%= image_tag 'kickass-torrents-logo', title: "Kickass" %>
            <% else %>
              <%= image_tag 'piratebay-logo', title: 'The Pirate Bay' %>
            <% end %>
          </div>
        </td>
        <td>
          <% if source.verified %>
            <i class="fa fa-check-circle success" title="Verified"></i>
          <% else %>
            <i class="fa fa-question-circle" title="Unverified"></i>
          <% end %>
        </td>
        <td><%= number_to_human_size(source.filesize) if source.filesize.present? %></td>
        <td>
          <% if source.link.present? %>
            <%= link_to source.title, source.link, target: "_blank" %>
          <% else %>
            <%= source.title %>
          <% end %>
        </td>
        <td class='ralign'><span class="<%= "success" if source.good_seeds? %>"><%= source.seeders || '?' %></span></td>
        <td class='ralign'><%= source.leechers || '?' %></td>
        <td class='ralign'>
          <span class="<%= "success" if source.good_ratio? %>">
            <% if source.ratio.present? %>
              <% if source.ratio.nan? %>
                -
              <% elsif source.ratio.infinite? %>
                ∞
              <% else %>
                <%= number_with_precision(source.ratio, precision: 2) %>
              <% end %>
            <% else %>
              -
            <% end %>
          </span>
        </td>
        <td class='ralign'>
          <%= link_to download_path.call(*download_path_args, download_url: source.magnet_link),
            class: 'action-button flex-fixed',
            'tg-remote' => "post",
            'refresh-on-success' => object_unique_id do %>
            <i class="fa fa-download"></i>
            <% end %>
          <a class="flex-fixed action-button" href="<%= source.magnet_link %>">
            <i class="fa fa-magnet"></i>
          </a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
