<% if object.is_a? Movie %>
  <div class="tile" context="tile<%= object.id %>">
    <div class="tile__meta">
      <h3 class="video-year"><%= object.year %></h3>
      <h3 class="video-type">Movie</h3>
      <% if object.downloading? %>
        <h3 class='video-status'>Downloading Now</h3>
      <% elsif object.transcoding? %>
        <h3 class='video-status'>Transcoding</h3>
      <% elsif object.remote? %>
        <h3 class='video-status'>Remote</h3>
      <% end %>
      <h1 class="video-title"><%= link_to object.title, object %></h1>
      <p class="video-description">
        <%= object.overview %>
      </p>
      <%= render 'shared/genre_badge_listing', genres: object.genres.sample(2), paginator_path: self.method(:by_genre_movies_path) %>
      <% if object.downloading? %>
        <div
          class="torrent-progress progress-bar__container"
          define="{torrent: new Muvee.ProgressReporter(this, 'TorrentInformation<%= object.torrents.first.id %>')}">
          <div class="progress-bar__bar animates" bind-attribute="{style: torrent.progressCssWidth()}"></div>
        </div>
      <% elsif object.transcoding? %>
        <div class="torrent-progress progress-bar__container indeterminate" title="Transcoding now..."></div>
      <% end %>
      <%= render 'shared/star_rating', vote_count: object.vote_count, rating: object.vote_average || 0, rating_max: 10.0, new_scale: 5 %>
      <div class="tile__meta-backdrop"></div>
    </div>
    <div class="tile__background" style="background-image: url(<%= object.backdrop_images.sample.try(:url) %>);"></div>
  </div>
<% elsif object.is_a? Series %>
  <% num_unacquired = number_of_released_episodes_unacquired(object) %>
  <div class="tile" context="tile<%= object.id %>">
    <div class="tile__meta">
      <h3 class="video-type">Series</h3>
      <h3 class='video-status'><%= object.ended ? 'Ended' : 'Continuing' %></h3>
      <% if num_unacquired.present? && num_unacquired > 0 %>
        <h3 class="video-status num-unacquired">
          <%= pluralize(num_unacquired, 'new episode') %>
        </h3>
      <% end %>


      <h1 class="video-title"><%= link_to object.title, object %></h1>
      <p class="video-description">
        <%= object.overview %>
      </p>
      <%= render 'shared/genre_badge_listing', genres: object.genres.sample(2), paginator_path: self.method(:by_genre_series_index_path) %>
      <%= render 'shared/star_rating', vote_count: object.tmdb_vote_count, rating: object.tmdb_vote_average || 0, rating_max: 10.0, new_scale: 5 %>
      <div class="tile__meta-backdrop"></div>
    </div>
    <div class="tile__background" style="background-image: url(<%= object.backdrop_url %>);"></div>
  </div>
<% end %>
