<% if config.persisted? %>
  <% url = setting_path(config) %>
<% else %>
  <% url = settings_path %>
<% end %>
<%= form_for config, url: url do |f| %>

<% if config.errors.any? %>
  <p>
    There were errors in your configuration:
  </p>
  <ul>
    <% config.errors.messages.each do |err| %>
      <li><%= err.join(" ") %></li>
    <% end %>
  </ul>
<% end %>
<ul class="steps">
  <li>
    <%= f.label :tv_sources do %>
      <p>
        Where are your <span class="note">TV shows</span> stored?
      </p>
      <%= f.text_area :tv_sources, value: config.tv_sources.map(&:strip).join(", "), placeholder: "Enter absolute paths separated by a comma, e.g., /home/yourself/TV/, /external/TvShows/", class: 'action-button' %>
    <% end %>
  </li>
  <li>
    <%= f.label :movie_sources do %>
      <p>
        Where are your <span class="note">movies</span> stored?
      </p>
      <%= f.text_area :movie_sources, value: config.movie_sources.map(&:strip).join(", "), placeholder: "Enter absolute paths separated by a comma, e.g., /home/yourself/TV/, /external/TvShows/", class: 'action-button' %>
    <% end %>
  </li>
  <li>
    <p>
      Do you want to <span class="note">transcode</span> files unplayable by browsers into formats that can be?
    </p>
    <%= f.check_box :transcode_media, bind: "showTranscodeFolder" %> <%= f.label :transcode_media, 'Yes, transcode my media.' %>
    <p class="explanation">
      Your original media will not be destroyed.  After transcoding, the new file will be moved to the same directory as the old file.  This process is often slow (sometimes taking times up to or greater than the playtime of the video), but can often result in drastic compression.
    </p>
    <p class="explanation">
      Unfortunately, this is the only way for μv to make some media available to web browsers.
    </p>
  </li>
  <li bind-show="showTranscodeFolder">
    <%= f.label :transcode_folder do %>
      <p>
        Where should files <span class="note">mid-transcode</span> be stored?
      </p>
    <% end %>
    <%= f.text_field :transcode_folder, placeholder: "Enter an absolute path, e.g., /storage/transcoding/", class: 'action-button' %>
    <p class="explanation">
      It's a good idea to specify this path to be somewhere you have a lot of space.
    </p>
  </li>
  <li>
    <%= f.label :torrent_start_path do %>
      <p>
        Where should files reside <span class="note">while downloading</span>?
      </p>
    <% end %>
    <%= f.text_field :torrent_start_path, placeholder: "Enter an absolute path, e.g., /storage/torrents/", class: 'action-button' %>
    <p class="explanation">
      It's a good idea to specify this path to be somewhere you have a lot of space.
    </p>
  </li>
  <%= f.button "Save", type: "Submit", class: 'action-button' %>
</ul>
<% end %>
