<div id="welcome-page" class="with-header">
  <div class="readable-page">
    <h1 class="flashy-banner">μv settings</h1>

    <div id="scan-progress" class="job">
      <div class="progress-bar__container">
        <div class="progress-bar__bar"></div>

        <div class="job-info">
          <div class="job-quantity">
            <span class="job-current">1</span><span class="job-max">100</span>
          </div>
          <div class="job-message">Wat</div>
          <div class="job-progress">50%</div>
        </div>
      </div>
    </div>

    <%= link_to 'Scan for new media', scan_for_new_media_settings_path, 'tg-remote' => 'POST', class: 'action-button' %>
    <%= link_to 'Reanalyze media library', reanalyze_media_settings_path, 'tg-remote' => 'POST', class: 'action-button' %>
    <%= link_to 'Download missing posters and fanart', redownload_missing_arts_settings_path, 'tg-remote' => 'POST', class: 'action-button' %>
    <%= link_to 'Re-download all posters and fanart', redownload_all_arts_settings_path, 'tg-remote' => 'POST', class: 'action-button' %>
    <%= render 'form', config: @config %>
  </div>
</div>
