<div id="status-page" class="text-page">
  <div class="readable-page">
    <h1 class="flashy-banner">μv status</h1>

    <div class="section">
      <%= link_to 'Scan for new media', scan_for_new_media_settings_path, 'tg-remote' => 'POST', 'tg-remote-norefresh' => true, class: 'action-button' %>
      <%= link_to 'Reanalyze media library', reanalyze_media_settings_path, 'tg-remote' => 'POST', 'tg-remote-norefresh' => true, class: 'action-button' %>
      <%= link_to 'Download missing posters and fanart', redownload_missing_arts_settings_path, 'tg-remote' => 'POST', 'tg-remote-norefresh' => true, class: 'action-button' %>
      <%= link_to 'Re-download all posters and fanart', redownload_all_arts_settings_path, 'tg-remote' => 'POST', 'tg-remote-norefresh' => true, class: 'action-button' %>
    </div>

    <div class="section">
      <h3>Background job status</h3>
      <p>The progress and statuses of various activities will appear here.</p>

      <%= render 'shared/video_creation_reporter' %>
      <%= render 'shared/series_discovery_reporter' %>
    </div>

    <div class="section">
      <h3>Torrent Status</h3>
      <% @torrents.each do |torrent| %>
        <div class='job-reporter torrent' context='torrent<%= torrent.id %>'>
          <div
            class="job-reporter-grid"
            define="{torrent: new Muvee.ProgressReporter(this, 'TorrentInformation<%= torrent.id %>')}">
            <div class="job-name">
              <% if torrent.video.present? %>
                <% if torrent.video.try(:is_tv?) %>
                  <span title="<%= torrent.video.title %> <%= torrent.video.season_episode %>">
                    <%= torrent.video.title %>
                    <%= torrent.video.season_episode %>
                  </span>
                <% else %>
                  <%= torrent.video.title %>
                <% end %>
              <% else %>
                Unknown
              <% end %>
            </div>
            <div class="job-details">
              <div class="torrent-progress progress-bar__container">
                <div class=" progress-bar__bar animates" bind-attribute="{style: torrent.progressCssWidth()}"></div>

                <div class="job-info">
                  <div class="job-progress" bind="torrent.progressPercent()"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="section">
      <h3>Notices</h3>
      <p>Notices can provide recommendations and suggestions for you to take with your operation of μv</p>
      <p>Not implemented yet.</p>
    </div>
  </div>
</div>
