<span class="flex-fixed season-and-episode"><%= video.episode %></span>

<% if video.local? %>
  <%= link_to effective_video_path(video), class: 'flex-fixed icon-link' do %>
    <i class="fa fa-play-circle"></i>
  <% end %>
<% else %>
  <%= link_to show_episode_details_series_index_path(episode_id: video.id, query: "#{video.title} #{video.season_episode}"),
    class: 'flex-fixed icon-link',
    data: {
      tg_remote: "GET",
      tg_remote_nopushstate: '',
      refresh_on_success: "video-#{video.id}"
    } do %>
    <i class="fa fa-download"></i>
  <% end %>
<% end %>

<%= link_to video.episode_name || "No title available",
  show_episode_details_series_index_path(episode_id: video.id, query: "#{video.title} #{video.season_episode}"),
  class: 'episode-title',
  'tg-remote' => 'GET',
  'refresh-on-success' => "video-#{video.id}" %>

<% if video.local? %>
  <div class="episode-watch-progress progress-bar__container">
    <div class="progress-bar__bar" title="<%= video.left_off_at %> seconds of <%= video.duration %> total seconds" style="width: <%= video.left_off_at_percent %>%"></div>
  </div>
<% elsif video.downloading? && video.torrents.size > 0 %>
  <div class="episode-watch-progress torrent-progress progress-bar__container"
  define="{torrent: new Muvee.ProgressReporter(this, 'TorrentInformation<%= video.torrents.first.id %>')}">
    <div class="progress-bar__bar animates" bind-attribute="{style: torrent.progressCssWidth()}"></div>
  </div>
<% elsif video.transcoding? %>
  <div class="episode-watch-progress progress-bar__container indeterminate" title="Transcoding now..."></div>
<% end %>

<span class="flex-fixed released-on" define="{releasedOnToggled: false}">
  <% if video.remote? && video.released_on.present? %>
    <span bind-show="releasedOnToggled" bind-event-click="releasedOnToggled = !releasedOnToggled">
      <%= year_month_day(video.released_on) %>
    </span>
    <span bind-show="!releasedOnToggled" bind-event-click="releasedOnToggled = !releasedOnToggled" title="<%= year_month_day(video.released_on) %>">
      <% if video.released_on < Time.now.to_date %>
        <%= time_ago_in_words(video.released_on) %> ago
      <% else %>
        airs <%= airs_on_time(video.released_on) %>
      <% end %>
    </span>
  <% end %>
</span>
