<div
  id="video-<%= video.id %>"
  context="video<%= video.id %>"
  refresh="video-<%= video.id %>"
  class="series-episode">
  <div>
    <div class="video-quick-summary">
      <%= render 'episode_overview', video: video %>
    </div>
    <% if detailed %>
      <div class="video-detailed-summary">
        <%= render "episode_details_#{video.status}", video: video %>
      </div>
    <% end %>
  </div>
</div>
