<div class="video-detailed-summary remote">

  <% if video.released_on.present? %>
    <p>
      <i class="subdued fa fa-calendar"></i>
      <%= airs_on_summary(video.released_on) %>
    </p>
  <% end %>

  <% if video.overview.present? %>
    <p class="video-overview">
      <%= video.overview %>
    </p>
  <% end %>

  <% if video.torrents.present? %>
    Downloading <%= video.torrents.size %> torrents now...
  <% end %>

  <% if @torrent_sources.present? %>
    <p><%= pluralize(@torrent_sources.size, 'source') %> found:</p>
  <% elsif @torrent_sources != nil && video.torrents.size == 0 %>
    <p>No sources were found for this episode.</p>
  <% end %>

  <% if @torrent_sources.present? %>
    <%= render 'shared/source_table', sources: @torrent_sources, video: video %>
  <% end %>

  <p>Didn't find what you were looking for? Try searching by a different title:</p>

  <%= form_tag show_episode_details_series_index_path(episode_id: video.id), 'tg-remote' => 'true', method: 'GET', 'refresh-on-success' => "video-#{video.id}" do %>
    <div class="action-button-group flex">
      <%= text_field_tag :query, params[:query], class: 'action-button' %><%= button_tag type: "submit", class: 'action-button' do %>
      <i class="fa fa-search"></i> Search
      <% end %>
    </div>
  <% end %>
</div>
