<div
  id="video-<%= video.id %>"
  context="video<%= video.id %>"
  refresh="video-<%= video.id %>"
  class="series-episode">
  <div>
    <div class="video-quick-summary">
      <span class="flex-fixed season-and-episode"><%= video.episode %></span>
      <%= link_to '#', class: 'flex-fixed icon-link' do %>
        <i class="fa fa-download"></i>
      <% end %>
      <%= link_to video.episode_name || "No title available",
        show_episode_details_series_index_path(
          episode_id: video.id,
          query: "#{video.title} #{video.season_episode}"
        ),
        class: 'episode-title',
        'tg-remote' => 'GET',
        'refresh-on-success' => "video-#{video.id}" %>
      <% if video.downloading? && video.torrents.size > 0 %>
        <div class="episode-watch-progress torrent-progress progress-bar__container"
          define="{torrent: new Muvee.ProgressReporter(this, 'TorrentInformation<%= video.torrents.first.id %>')}">
          <div class="progress-bar__bar animates" bind-attribute="{style: torrent.progressCssWidth()}"></div>
        </div>
      <% end %>
      <%= link_to reanalyze_video_path(video),
        'tg-remote' => 'POST',
        'full-refresh' => true,
        'refresh-on-success' => "video-#{video.id}",
        class: 'icon-link' do %>
        <i class="fa fa-refresh"></i>
      <% end %>
    </div>
    <% if detailed %>
      <div class="video-detailed-summary remote">
        <% if video.overview.present? %>
          <p class="video-overview"><%= video.overview %></p>
        <% end %>
        <% if @torrent_sources.present? %>
          <p><%= pluralize(@torrent_sources.size, 'source') %> found:</p>
        <% elsif @torrent_sources != nil && video.torrents.size == 0 %>
          <p>No sources were found for this episode.</p>
          <% if video.released_on.present? && video.released_on > Time.now %>
            <p>Check back in <%= expected_release_from_now(video.released_on) %></p>
          <% end %>
        <% elsif video.torrents.size > 0 %>
          <p>Downloading now...</p>
        <% end %>

        <% if @torrent_sources.present? %>
          <% @torrent_sources.each do |torrent_source| %>
            <div class="episode-torrent-source">
              <span><%= torrent_source[:title] %></span>
              <%= link_to download_series_path(video.series, video, download_url: torrent_source[:magnet_link]),
                class: 'action-button flex-fixed',
                'tg-remote' => "post",
                'refresh-on-success' => "video-#{video.id}" do %>
                  <i class="fa fa-download"></i> Download
              <% end %>
              <a class="flex-fixed action-button" href="<%= torrent_source[:magnet_link] %>">
                <i class="fa fa-magnet"></i> Magnet URL
              </a>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
