<% content_for :series_subnav do %>
<ul class="subnav">
  <% if @has_favorite_series %>
    <li>
      <%= link_to 'Favorites', favorites_series_index_path, class: @section == :favorites ? 'is-active' : '' %>
    </li>
  <% end %>
  <li>
    <%= link_to 'Discover', discover_series_index_path, class: @section == :discover ? 'is-active' : '' %>
  </li>
  <% if @has_local_series %>
    <li>
      <%= link_to 'Series', series_index_path, class: @section == :series ? 'is-active' : '' %>
    </li>
    <li>
      <%= link_to 'On deck', newest_unwatched_series_index_path, class: @section == :newest_unwatched ? 'is-active' : '' %>
    </li>
    <li>
      <%= link_to 'Newest', newest_episodes_series_index_path, class: @section == :newest ? 'is-active' : '' %>
    </li>
  <% end %>
  <li>
    <%= link_to 'Genres', genres_series_index_path, class: @section == :genres ? 'is-active' : '' %>
  </li>
  <li>
    <%= link_to 'Others', nonepisodic_series_index_path, class: @section == :nonepisodic ? 'is-active' : '' %>
  </li>
</ul>
<% end %>
