<div id="video-<%= video.id %>" context="video<%= video.id %>" class="clearfix video video-tile" refresh="video-<%= video.id %>">
  <%
  effective_video_path = if video.left_off_at_percent > 90
    video_path(video, t: 0)
  else
    video_path(video)
  end
  %>
  <a
    define="{
      <% unless video.has_set_of_thumbnails? %>
      thumbnailRetriever: new Muvee.ThumbnailRetriever(this, '<%= thumbnails_video_path(video) %>', '.js-thumbnail'),
      <% end %>
      thumbnailSlideshow: new Muvee.AutoSlideshow(this, 2000)
    }"
    bind-event-mouseenter="thumbnailSlideshow.start()"
    bind-event-mouseleave="thumbnailSlideshow.stop()"
    href="<%= effective_video_path %>" class="video-link">
    <div class="thumbnail-area">
      <div class="js-slideshow js-thumbnail-container thumbnails">
        <% video.thumbnails.each_with_index do |thumb, i| %>
          <img class="js-slide js-thumbnail video-thumbnail <% if i>0 %>hidden<% end %>" <% if i <= 2 %>src="<%= thumb.url %>"<% end %> data-src="<%= thumb.url %>">
        <% end %>
      </div>
      <div class="duration">
        <%= human_duration(video.duration) %>
      </div>
      <% if video.left_off_at_percent > 0 %>
        <div class="watch-progress">
          <span class="watched-bar" title="<%= video.left_off_at %> seconds of <%= video.duration %> total seconds" style="width: <%= video.left_off_at_percent %>%"></span>
        </div>
      <% end %>
    </div>
  </a>
  <h5 class="season-and-episode"><%= video.season_episode %></h5>
  <h3 class="video-title"><%= video.episode_name || "No title available" %></h3>
  <p class="video-overview"><%= video.overview %></p>
  <span class="hide"><%= video.raw_file_path %></span>
  <p>
    <%= link_to 'Reanalyze', reanalyze_video_path(video),
      'tg-remote' => 'POST',
      'full-refresh' => true,
      'refresh-on-success' => "video-#{video.id}",
      class: 'action-button' %>
  </p>
</div>
