<a
  class="js-get-thumbnail video <% if video.has_set_of_thumbnails? %> has-thumbnails<% end %>"
  data-id="<%= video.id %>"
  data-thumbnail-path="<%= thumbnails_video_path(video) %>"
  href="<%= video_path(video) %>" class="video-link">
  <div class="clearfix video-tile">
    <div class="thumbnail-area">
      <div class="thumbnails">
        <% video.thumbnails.each_with_index do |thumb, i| %>
          <img class="video-thumbnail <% if i>0 %>hidden<% end %>" src="<%= thumb.url %>" alt="">
        <% end %>
      </div>
      <div class="duration">
        <%= human_duration(video.duration) %>
      </div>
      <% if video.left_off_at_percent > 0 %>
        <div class="watch-progress">
          <span class="watched-bar" title="<%= video.left_off_at %> seconds of <%= video.duration %> total seconds" style="width: <%= video.left_off_at_percent %>%"></span>
        </div>
      <% end %>
    </div>
    <h3 class="video-title"><%= video.episode_name || "No title available" %> - S<%= video.season %>E<%= video.episode %></h3>
    <p class="video-overview"><%= video.overview %></p>
    <span class="hide"><%= video.raw_file_path %></span>
  </div>
</a>
