<div
  id="video-<%= video.id %>"
  context="video<%= video.id %>"
  class="clearfix video video-tile"
  refresh="video-<%= video.id %>">

  <a
    define="{
      <% unless video.has_set_of_thumbnails? %>
      thumbnailRetriever: new Muvee.ThumbnailRetriever(this, '<%= thumbnails_video_path(video) %>', '.js-thumbnail'),
      <% end %>
      thumbnailSlideshow: new Muvee.AutoSlideshow(this, 2000)
    }"
    bind-event-mouseenter="thumbnailSlideshow.start()"
    bind-event-mouseleave="thumbnailSlideshow.stop()"
    href="<%= effective_video_path %>" class="video-link">
    <div class="thumbnail-area">
      <div class="js-slideshow js-thumbnail-container thumbnails">
        <% video.thumbnails.each_with_index do |thumb, i| %>
          <img class="js-slide js-thumbnail video-thumbnail <% if i>0 %>hidden<% end %>" <% if i <= 2 %>src="<%= thumb.url %>"<% end %> data-src="<%= thumb.url %>">
        <% end %>
      </div>
      <div class="duration">
        <%= human_duration(video.duration) %>
      </div>
    </div>
  </a>
  <p class="video-overview"><%= video.overview %></p>
</div>
