<div
  class="clearfix video video-tile js-get-thumbnails js-has-thumbnails <% if video.has_set_of_thumbnails? %>has-thumbnails<% end %>"
  data-thumbnail-path="<%= thumbnails_video_path(video) %>">
  <%
  effective_video_path = if video.left_off_at_percent > 90
    video_path(video, t: 0)
  else
    video_path(video)
  end
  %>
  <a href="<%= effective_video_path %>" class="video-link">
    <div class="thumbnail-area">
      <div class="thumbnails">
        <% video.thumbnails.each_with_index do |thumb, i| %>
          <img class="video-thumbnail <% if i>0 %>hidden<% end %>" src="<%= thumb.url %>" alt="">
        <% end %>
      </div>
      <div class="duration">
        <%= human_duration(video.duration) %>
      </div>
      <% if video.left_off_at_percent > 0 %>
        <div class="watch-progress">
          <span class="watched-bar" title="<%= video.left_off_at %> seconds of <%= video.duration %> total seconds" style="width: <%= video.left_off_at_percent %>%"></span>
        </div>
      <% end %>
    </div>
  </a>
  <h5 class="season-and-episode"><%= video.season_episode %></h5>
  <h3 class="video-title"><%= video.episode_name || "No title available" %></h3>
  <p class="video-overview"><%= video.overview %></p>
  <span class="hide"><%= video.raw_file_path %></span>
</div>
