<%= render 'subnav' %>

<% if @shows.present? %>
  <div class="tile-list" <% if @_is_paged %>define="{pager: new Muvee.Pager(this)}"<% end %>>
    <% @shows.each_slice(3) do |shows_slice| %>
    <div class="tile-row tile-row--1-3">
      <% shows_slice.each do |show| %>
        <div class="tile" context="tile<%= show.id %>">
          <div class="tile__meta">
            <h3 class="video-year"><%= year_month_day(show.released_on) %></h3>
            <h3 class="video-type"><%= show.season_episode %></h3>
            <% effective_title = show.title || show.sources.first.raw_file_path %>
            <h1 class="video-title" title="<%= effective_title %>"><%= link_to effective_title, show_source_video_path(show) %></h1>
            <p class="video-description">
              <%= show.overview %>
            </p>
            <div class="tile__meta-backdrop"></div>
          </div>
          <div class="tile__background" style="background-image: url(<%= show.thumbnails.sample.try(:url) %>);"></div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
<% else %>
  <div>No shows found.</div>
<% end %>
