<div id="series">
  <div class="series-information">
    <h1 class="series-name">
      <a href="<%= series_index_path %>" class="back">
        <i class="fa fa-chevron-left"></i>
      </a> <%= @series.title  %>

    </h1>
    <div id="series_overview" refresh="series_overview">
      <h3 class="series-overview">
        <%= @series.overview %>
      </h3>
    </div>
    <div class="series-buttons">
      <div class="prepend-label">
        <label>Download</label>
        <%= link_to "#{@next_episode}",
          find_episode_series_path(@series),
          "remote-method" => "GET",
          "refresh-on-success" => "series_overview",
          "href" => find_episode_series_path(@series, series_episode: @next_episode) %>
        <%= link_to "#{@next_episode_of_next_season}",
          find_episode_series_path(@series),
          "remote-method" => "GET",
          "refresh-on-success" => "series_overview",
          "href" => find_episode_series_path(@series, series_episode: @next_episode_of_next_season) %>

        <%= form_tag find_episode_series_path(@series), class: "inline-block", "remote-form" => true, method: "POST", "refresh-on-success" => "series_overview" do %>
          <input name="series_episode" type="text" value="" placeholder="or search (e.g., S01E01)">
        <% end %>
      </div>
      <div class="prepend-label">
        <label>Season</label>
        <%= link_to "All", series_path(@series, sort: @sort), class: 'divider' %>
        <% @seasons.each do |s| %>
          <%= link_to "#{s}", series_path(@series, season: s, sort: @sort), class: 'divider' %>
        <% end %>
      </div>
      <div class="prepend-label">
        <label>Sort</label>
        <%= link_to "Release order", series_path(@series, season: @season, sort: :release_order, class: 'divider') %>
        <%= link_to "Unwatched", series_path(@series, season: @season, sort: :unwatched, class: 'divider') %>
        <%= link_to "Latest", series_path(@series, season: @season, sort: :latest, class: 'divider') %>
      </div>
      <div class="prepend-label">
        <label>Shuffle</label>
        <%= link_to "All", video_path(@videos.map(&:id).sample, shuffle: true, series_id: @series.id) %>
      </div>
    </div>
  </div>
  <div class="video-list">
    <div class="series-featured-image" style="background:url(<%= @series.fanart_url %>); background-size: cover;"></div>
    <% if @series.last_watched_video && @series.last_watched_video.left_off_at_percent < 95 %>
      <% if (@season && @series.last_watched_video.season == @season) || !@season %>
        <div class="featured-episode">
          <%= render 'video_tile', video: @series.last_watched_video %>
          <% featured_video_consumed = true %>
        </div>
      <% end %>
    <% end %>
    <div class="video-list-container">
      <% @videos.each do |show| %>
        <% unless show == @series.last_watched_video && featured_video_consumed %>
          <%= render 'video_tile', video: show %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
