<%= render 'subnav' %>
<div id="series">
  <div class="series-featured-image" style="background:url(<%= @series.fanart_url %>); background-size: cover;"></div>
  <div class="series-information">
    <h1 class="series-name">
      <%= @series.title  %>
    </h1>

    <div class="badges">
      <div class="badge-listing">
        <%= link_to "Latest", series_path(@series, season: @season, sort: :latest), class: "badge linked-badge #{'active' if @sort == :latest}" %>
        <%= link_to "Unwatched", series_path(@series, season: @season, sort: :unwatched), class: "badge linked-badge #{'active' if @sort == :unwatched}" %>
        <%= link_to "In order", series_path(@series, season: @season, sort: :release_order), class: "badge linked-badge #{'active' if @sort == :release_order}" %>
      </div>
      <div class="badge-listing">
        <%= link_to "All", series_path(@series, season: 'all', sort: @sort), class: "badge #{'active' if @season.blank?}" %>
        <% @seasons.each do |s| %>
          <%= link_to "S#{s}", series_path(@series, season: s, sort: @sort), class: "badge linked-badge #{'active' if @season == s}" %>
        <% end %>
      </div>
    </div>

    <div id="series_overview" refresh="series_overview">
      <h3 class="series-overview">
        <%= @series.overview %>
      </h3>

      <%= link_to reanalyze_series_path(@series), class: 'action-button', 'tg-remote' => 'POST' do %>
        <i class="fa fa-refresh"></i> Refresh
      <% end %>

      <% if @videos.size > 0 %>
        <% random_video = @videos.select(&:local?).map(&:id).sample %>

        <% if random_video.present? %>
          <%= link_to show_source_video_path(@videos.select(&:local?).map(&:id).sample, shuffle: true, series_id: @series.id), class: 'action-button' do %>
            <i class="fa fa-random"></i> Shuffle
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="video-list">
    <%
      grouped_by_season = @videos.group_by{|v| v.season}
    %>
    <% grouped_by_season.keys.each do |season| %>
      <div class="series-season">
        <h3>Season <%= season %></h3>

        <% grouped_by_season[season].each do |video| %>
          <% if video.local? %>
            <%= render 'episode', video: video, detailed: false %>
          <% else %>
            <%= render 'remote_episode', video: video, detailed: false %>
          <% end %>
        <% end %>
      </div>

    <% end %>

    <% if @videos.size == 0 && @sort == :unwatched %>
      <h2>It looks like you've seen everything!</h2>
    <% end %>
  </div>
</div>
