<div id="series">
  <div class="series-information">
    <h1 class="series-name">
      <a href="<%= series_index_path %>" class="back">
        <i class="fa fa-chevron-left"></i>
      </a> <%= @series.title  %>
    </h1>
    <h3 class="series-overview">
      <%= @series.overview %>
    </h3>
    <div class="poster-buttons">
      <div class="dropdown poster-button">
        <button class="dropdown-trigger">
          All Seasons
        </button>
        <div class="dropdown-options">
          <a class="dropdown-item poster-button">All Seasons</a>
          <% @seasons.each do |s| %>
            <a href="" class="dropdown-item poster-button">Season <%= s %></a>
          <% end %>
        </div>
      </div>
      <% if @sort == :latest %>
        <a href="?sort=release_order" class="poster-button">
          <i class="fa fa-sort"></i> Sort: latest
        </a>
      <% elsif @sort == :release_order %>
        <a href="?sort=unwatched" class="poster-button">
          <i class="fa fa-sort"></i> Sort: release order
        </a>
      <% elsif @sort == :unwatched %>
        <a href="?sort=latest" class="poster-button">
          <i class="fa fa-sort"></i> Sort: unwatched
        </a>
      <% end %>
      <a href="#" class="poster-button js-favourite-toggle">
        <i class="fa fa-heart"></i>
      </a>
      <a href="#" class="poster-button">
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </a>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="video-list">
    <div class="series-featured-image" style="background:url(<%= @series.fanart_url %>); background-size: cover;"></div>
    <% if @series.last_watched_video %>
      <div class="featured-episode">
        <%= render 'video_tile', video: @series.last_watched_video %>
      </div>
    <% end %>
    <div class="video-list-container">
      <% @videos.each do |show| %>
        <% unless show == @series.last_watched_video %>
          <%= render 'video_tile', video: show %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
