<div id="series">
  <div class="series-featured-image" style="background:url(<%= @series.fanart_url %>); background-size: cover;"></div>
  <div class="series-information">
    <h1 class="series-name">
      <%= @series.title  %>
    </h1>

    <div class="badges">
      <div class="badge-listing">
        <%= link_to "Latest", series_path(@series, season: @season, sort: :latest), class: "badge linked-badge #{'active' if @sort == :latest}" %>
        <%= link_to "Unwatched", series_path(@series, season: @season, sort: :unwatched), class: "badge linked-badge #{'active' if @sort == :unwatched}" %>
        <%= link_to "In order", series_path(@series, season: @season, sort: :release_order), class: "badge linked-badge #{'active' if @sort == :release_order}" %>
      </div>
      <div class="badge-listing">
        <%= link_to "All", series_path(@series, sort: @sort), class: "badge #{'active' if @season.blank?}" %>
        <% @seasons.each do |s| %>
          <%= link_to "S#{s}", series_path(@series, season: s, sort: @sort), class: "badge linked-badge #{'active' if @season == s}" %>
        <% end %>
      </div>
    </div>

    <div id="series_overview" refresh="series_overview">
      <h3 class="series-overview">
        <%= @series.overview %>
      </h3>

      <% if @videos.size > 0 %>
        <%= link_to video_path(@videos.map(&:id).sample, shuffle: true, series_id: @series.id), class: 'action-button' do %>
          <i class="fa fa-random"></i> Shuffle
        <% end %>
      <% end %>
    </div>
    <div class="series-buttons">
      D/L
      <% if @next_episode.present? %>
        <%= link_to "#{@next_episode}",
          find_episode_series_path(@series),
          "tg-remote" => "GET",
          class: 'action-button',
          "refresh-on-success" => "series_overview",
          "href" => find_episode_series_path(@series, series_episode: @next_episode) %>
      <% end %>
      <% if @next_episode_of_next_season.present? %>
        <%= link_to "#{@next_episode_of_next_season}",
          find_episode_series_path(@series),
          "tg-remote" => "GET",
          class: 'action-button',
          "refresh-on-success" => "series_overview",
          "href" => find_episode_series_path(@series, series_episode: @next_episode_of_next_season) %>
      <% end %>

      <%= form_tag find_episode_series_path(@series), class: "inline-block", "tg-remote" => true, method: "POST", "refresh-on-success" => "series_overview" do %>
        <div class="action-button-group">
          <input name="series_episode" type="text" value="" placeholder="or search (e.g., S01E01)" class="action-button"><input type="submit" value="Search" class="action-button">
        </div>
      <% end %>
    </div>
  </div>
  <div class="video-list">
    <div class="video-list-container">
      <%
        grouped_by_season = @videos.group_by{|v| v.season}
      %>
      <% grouped_by_season.keys.each do |season| %>
        <div class="series-season">
          <h3>Season <%= season %></h3>

          <% grouped_by_season[season].each do |video| %>
            <%= render 'episode', video: video, detailed: false %>
          <% end %>
        </div>

      <% end %>

      <% if @videos.size == 0 && @sort == :unwatched %>
        <h2>It looks like you've seen everything!</h2>
      <% end %>
    </div>
  </div>
</div>
