<div id="series">
  <div class="series-information">
    <h1 class="series-name">
      <a href="<%= series_index_path %>" class="back">
        <i class="fa fa-chevron-left"></i>
      </a> <%= @series.title  %>
    </h1>
    <h3 class="series-overview">
      <%= @series.overview %>
    </h3>
    <div class="poster-buttons">
      <%= link_to "Shuffle", video_path(@videos.map(&:id).sample, shuffle: true, series_id: @series.id), class: "action-button" %>
      <button data-modal="season-selector" class="action-button">
        <% if @season %>
          Season <%= @season %>
        <% else %>
          All Seasons
        <% end %>
      </button>
      <button data-modal="series-sort-selector" class="action-button">
        <i class="fa fa-sort"></i>
        Sorting by: <%= @sort.to_s.titleize %>
      </button>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="video-list">
    <div class="series-featured-image" style="background:url(<%= @series.fanart_url %>); background-size: cover;"></div>
    <% if @series.last_watched_video %>
      <% if (@season && @series.last_watched_video.season == @season) || !@season %>
        <div class="featured-episode">
          <%= render 'video_tile', video: @series.last_watched_video %>
        </div>
      <% end %>
    <% end %>
    <div class="video-list-container">
      <% @videos.each do |show| %>
        <% unless show == @series.last_watched_video %>
          <%= render 'video_tile', video: show %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="season-selector" class="modal">
  <div class="modal-backdrop js-close-modal"></div>
  <div class="modal-box">
    <div class="modal-box-contents">
      <div class="modal-header">
        Filter by season
      </div>
      <%= link_to "All Seasons", series_path(@series, sort: @sort), class: 'divider' %>
      <% @seasons.each do |s| %>
        <%= link_to "Season #{s}", series_path(@series, season: s, sort: @sort), class: 'divider' %>
      <% end %>
    </div>
  </div>
</div>

<div id="series-sort-selector" class="modal">
  <div class="modal-backdrop js-close-modal"></div>
  <div class="modal-box">
    <div class="modal-box-contents">
      <div class="modal-header">
        Sort by
      </div>
      <%= link_to "Release order", series_path(@series, season: @season, sort: :release_order, class: 'divider') %>
      <%= link_to "Unwatched", series_path(@series, season: @season, sort: :unwatched, class: 'divider') %>
      <%= link_to "Latest", series_path(@series, season: @season, sort: :latest, class: 'divider') %>
    </div>
  </div>
</div>
