<%= render 'subnav' %>

<div id="movie-show" refresh='movie-show'>

  <div class="inline-movie-preview" define="{backgroundArtSlideshow: new Muvee.AutoSlideshow(this).transition().start()}">
    <div class="js-slideshow featured-image">
      <% if @series.fanart_url.present? %>
        <%# @movie.fanarts.shuffle.each do |art| %>
          <div class="js-slide movie-background hidden" data-background-url="<%= @series.fanart_url %>"></div>
        <%# end %>
      <% end %>
    </div>

    <div class="bg-overlay">
      <div class="top-scrim">
        <%= render 'shared/genre_badge_listing', genres: @series.genres %>
        <div class="action-badges">

          <%= link_to @series.is_favorite ? unfavorite_series_path(@series) : favorite_series_path(@series), class: 'badge linked-badge', "tg-remote" => "POST" do %>
            <i class="fa <% if @series.is_favorite %>fa-heart<% else %>fa-heart-o<% end %>"></i>
          <% end %>

          <%= link_to reanalyze_series_path(@series), class: 'badge linked-badge', 'tg-remote' => 'POST' do %>
            <i class="fa fa-refresh"></i>
          <% end %>
        </div>
      </div>

      <div class="cover-scrim flex flex-down">
        <div class="flex">
          <div class="movie-information-meta__section flex">
            <img class="movie-poster" src="<%= @series.poster_url %>">
            <div class="movie-meta">
              <h1><%= @series.title %></h1>
              <p class="st">
                <%= @series.overview %>
              </p>
              <div class="flex-columns sst">
                <div>
                  <%= render 'shared/star_rating', vote_count: @series.tvdb_rating_count, rating: @series.tvdb_rating || 0, rating_max: 10.0, new_scale: 5 %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="flex">
    <div class="movie-information-meta__section">
      <div class="badges">
        <div class="badge-listing">
          <%= link_to "Latest", series_path(@series, season: @season, sort: :latest), class: "badge linked-badge #{'active' if @sort == :latest}" %>
          <%= link_to "Unwatched", series_path(@series, season: @season, sort: :unwatched), class: "badge linked-badge #{'active' if @sort == :unwatched}" %>
          <%= link_to "In order", series_path(@series, season: @season, sort: :release_order), class: "badge linked-badge #{'active' if @sort == :release_order}" %>
        </div>
        <div class="badge-listing">
          <%= link_to "All", series_path(@series, season: 'all', sort: @sort), class: "badge #{'active' if @season.blank?}" %>
          <% @seasons.each do |s| %>
            <%= link_to "S#{s}", series_path(@series, season: s, sort: @sort), class: "badge linked-badge #{'active' if @season == s}" %>
          <% end %>
        </div>

        <% if @videos.size > 0 %>
          <% random_video = @videos.select(&:local?).map(&:id).sample %>

          <% if random_video.present? %>
            <%= link_to show_source_video_path(@videos.select(&:local?).map(&:id).sample, shuffle: true, series_id: @series.id), class: 'action-button' do %>
              <i class="fa fa-random"></i> Shuffle
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="movie-information-meta__section">
      <%
        grouped_by_season = @videos.group_by{|v| v.season}
      %>
      <% grouped_by_season.keys.each do |season| %>
        <div class="series-season">
          <h3>Season <%= season %></h3>

          <% grouped_by_season[season].each do |video| %>
            <%= render 'episode', video: video, detailed: false %>
          <% end %>
        </div>

      <% end %>

      <% if @videos.size == 0 && @sort == :unwatched %>
        <h2>It looks like you've seen everything!</h2>
      <% end %>
    </div>
  </div>

  <div class="flex">
    <div class="movie-information-meta__section">
      <% if @series.actors.any? %>
        <h2>Actors</h2>
        <div class="flex-columns flex-wrap">
          <% @series.actors.each do |actor| %>
            <div class='actor-tile'>
              <% profile = actor.profile_picture_fanart %>
              <% if profile.present? %>
                <%= link_to by_actor_movies_path(actor), class: 'actor-profile-picture' do %>
                  <div class="actor-profile-picture" style="background-image: url(<%= profile.url %>)"></div>
                <% end %>
              <% end %>
              <%= link_to actor.name, by_actor_movies_path(actor), class: "actor-name #{'full' if profile.blank?}" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
