<!DOCTYPE html>
<html>
<head>
  <title>
    μv :: <%= controller_name %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="main-navigation">
    <ul class="top-nav-container">
      <li class="<% if controller_name == 'videos' && action_name == 'index' %>active<% end %>">
        <a class="top-nav-button home" href="/">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li <% if controller_name == 'movies' %>class="active" <% end %>>
        <%= link_to movies_path, class: 'top-nav-button' do %>
          <i class="fa fa-film"></i> Movies
        <% end %>
      </li>
      <li <% if controller_name == 'series' %>class="active" <% end %>>
        <%= link_to series_index_path, class: 'top-nav-button' do %>
          <i class="fa fa-desktop"></i> TV
        <% end %>
      </li>
      <li>
        <%= link_to shuffle_videos_path, class: 'top-nav-button' do %>
          <i class="fa fa-random"></i> Shuffle
        <% end %>
      </li>
      <li class="fr">
        <a id="showGlobalOptions" href="#" class="top-nav-button">
          <i class="fa fa-cogs"></i>
        </a>
      </li>
    </ul>

    <%= yield :subnav %>
  </header>

<%= yield %>

<div id="global-options" class="modal">
  <div class="modal-backdrop js-close-modal"></div>
  <div class="modal-box">
    <div class="modal-box-contents">
      <div class="modal-header">
        Media Actions
      </div>
      <div class="divider">
        <button onclick="rescanLibrary()" class="js-close-modal">
          Scan for new media
        </button>
      </div>
      <div class="divider">
        <button onclick="reanalyzeLibrary()" class="js-close-modal">
          Re-analyze media library
        </button>
      </div>
      <div class="divider">
        <button onclick="redownloadMissingImages()" class="js-close-modal">
          Download missing posters and fanart
        </button>
      </div>
      <div class="divider">
        <button onclick="redownloadImages()" class="js-close-modal">
          Re-download all posters and fanart
        </button>
      </div>
    </div>
  </div>
</div>

<div class="error modal">
  <div class="modal-backdrop js-close-modal"></div>
  <div class="modal-box">
    <div class="modal-box-contents">
      <div class="modal-header">
        I'm afraid I can't let you do that.
      </div>
      <div class="modal-body">
        <p class="error-text">
          An error has occurred!
        </p>
      </div>
      <div class="divider">
        <button class="js-close-modal">Ok</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
