<!DOCTYPE html>
<html>
<head>
  <title>MuvRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="main-navigation">
    <ul class="top-nav-container">
      <li>
        <a class="home" href="/">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li <% if controller_name == 'videos'%>class="active" <% end %>>
        <%= link_to "All Videos", videos_path %>
      </li>
      <li <% if controller_name == 'tv' %>class="active" <% end %>>
        <%= link_to "TV", series_index_path %>
      </li>
    </ul>
  </header>

<%= yield %>

</body>
</html>
