<!DOCTYPE html>
<html>
<head>
  <title>
    μv :: <%= controller_name %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="main-navigation">
    <ul class="top-nav-container">
      <li class="<% if controller_name == 'videos' && action_name == 'index' %>active<% end %>">
        <a class="top-nav-button home" href="/">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li <% if controller_name == 'movies' %>class="active" <% end %>>
        <%= link_to movies_path, class: 'top-nav-button' do %>
          <i class="fa fa-film"></i> Movies
        <% end %>
      </li>
      <li <% if controller_name == 'series' %>class="active" <% end %>>
        <%= link_to series_index_path, class: 'top-nav-button' do %>
          <i class="fa fa-desktop"></i> TV
        <% end %>
      </li>
      <li>
        <a href="#" class="top-nav-button">
          <i class="fa fa-random"></i> Shuffle
        </a>
      </li>
      <li class="fr">
        <a href="#" class="top-nav-button">
          <i class="fa fa-cogs"></i>
        </a>
      </li>
    </ul>
  </header>

<%= yield %>

</body>
</html>
