<!DOCTYPE html>
<html>
<head>
  <title>
    μv :: <%= controller_name %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= render 'shared/muvee_config' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if controller_name == 'movies' %>
    <%= render 'movies/movies_fixed_search' %>
  <% elsif controller_name == 'series' %>
    <%= render 'series/series_fixed_search' %>
  <% else %>
    <%= render 'movies/movies_fixed_search' %>
  <% end %>

  <header class="main-navigation">
    <ul class="main-navigation__items">
      <li>
        <a bind-event-click="fixedSearch.toggle()">
          <i class="fa fa-search"></i>
        </a>
      </li>
      <li <% if controller_name == 'movies' %>class="is-active" <% end %>>
        <%= link_to movies_path, class: 'top-nav-button' do %>
          <i class="fa fa-film"></i>
        <% end %>

        <%= yield :movies_subnav %>
      </li>
      <li <% if controller_name == 'series' %>class="is-active" <% end %>>
        <%= link_to series_index_path, class: 'top-nav-button' do %>
          <i class="fa fa-desktop"></i>
        <% end %>

        <%= yield :series_subnav %>
      </li>
      <li <% if controller_name == 'people' %>class="is-active" <% end %>>
        <%= link_to people_path, class: 'top-nav-button' do %>
          <i class="fa fa-user"></i>
        <% end %>

        <%= yield :people_subnav %>
      </li>
      <li>
        <%= link_to shuffle_videos_path, class: 'top-nav-button' do %>
          <i class="fa fa-random"></i>
        <% end %>
      </li>
      <li <% if controller_name == 'settings' %>class="is-active" <% end %>>
        <%= link_to settings_path, class: 'top-nav-button' do %>
          <i class="fa fa-cogs"></i>
        <% end %>
      </li>
      <li <% if controller_name == 'status' %>class="is-active" <% end %>>
        <%= link_to status_index_path, class: 'top-nav-button' do %>
          <i class='fa fa-stethoscope'></i>
        <% end %>
      </li>
    </ul>
  </header>

  <div class="main-content-container">
    <div class="main-content">
      <%= yield %>
    </div>
  </div>

  <div id='flash' refresh='flash' refresh-always
    define="{flash: new Muvee.Flash(this)}"
    class="hide flash <% if flash[:notice].present? || flash[:error].present? %>js-has-flash<% end %>">

    <% if flash[:notice].present? %>
      <i class="fa fa-check-circle success"></i>
      <span><%= flash[:notice] %></span>
    <% elsif flash[:error].present? %>
      <i class="fa fa-exclamation-circle error"></i>
      <span><%= flash[:error] %></span>
    <% end %>
  </div>

  <div class="error modal">
    <div class="modal-backdrop js-close-modal"></div>
    <div class="modal-box">
      <div class="modal-box-contents">
        <div class="modal-header">
          I'm afraid I can't let you do that.
        </div>
        <div class="modal-body">
          <p class="error-text">
            An error has occurred!
          </p>
        </div>
        <div class="divider">
          <button class="js-close-modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
